{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/onursabanoglu/npm-paket.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}